
/*
  Employee Recognition
  Jackie Bradnan
  Oct.  20, 2018

  style.css for employee recognition app
*/

iframe {
margin-top: 30px;

}

.starthidden {
    display:none;
}

#error_text {
    color: red;
    font-size: 200%;
}

.nav > li {
	text-align: center;
	font-variant: small-caps;
}

.highlighted {
	background: #d1d1e0;
}

/* signature pad styling */
.wrapper {
  position: relative;
  width: 200px;
  height: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:200px;
  height:100px;
  background-color: white;
}

