
/*
  Employee Recognition 
  Jackie Bradnan
  Oct.  20, 2018

  style.css for employee recognition app
*/

.starthidden {
    display:none;
}

#error_text {
    color: red;
    font-size: 200%;
}

.wrapper {
  position: relative;
  width: 200px;
  height: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:200px;
  height:100px;
  background-color: white;
}

/*.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}*/