<% include ../../partials/header %>
<% if (signin !== null) { %>
  <div class="alert alert-success" role="alert">Signed in</div>
<% } %>
<h1 class="text-center">Employee Recognition App Home</h1>
<% include ../../partials/footer %>

