<% layout('pages/layout') -%>

<h1 class="text-center">Reset Password</h1>
<div class="card">
  <form action="/password/reset" method="post" class="card-body">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary d-block mx-auto">Send Reset Password Email</button>
  </form>
</div>


