<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Administration Page</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>

	<!-- Initial Page Actions -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  	<a class="navbar-brand" href="#">Employee Recognition</a>
		<div class="nav navbar-nav container-fluid">
			<li class="nav id="allUsersNavigation" onclick="showUsers()">All Users</li>
			<li class="nav id="newUserNavigation" onclick="createNewUser()">New User</li>
			<li class="nav id="editUserNavigation" onclick="displayUserList()">Edit User</li>
			<li class="nav id="reportsNavigation" onclick="reportsDisplay()">Reporting</li>
			<li class="nav id="searchNavigation" onclick="searchUserDisplay()">Search</li>
		</div>
		</div>
	</nav>
	<br>
	<br>


<script>

function getDocHeight(doc) {
    doc = doc || document;
    // stackoverflow.com/questions/1145850/
    var body = doc.body, html = doc.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight, 
        html.clientHeight, html.scrollHeight, html.offsetHeight );
    return height;
}

function setIframeHeight(id) {
    var ifrm = document.getElementById(id);
    var doc = ifrm.contentDocument? ifrm.contentDocument: 
        ifrm.contentWindow.document;
    ifrm.style.visibility = 'hidden';
    ifrm.style.height = "10px"; // reset to minimal height ...
    // IE opt. for bing/msn needs a bit added or scrollbar appears
    ifrm.style.height = getDocHeight( doc ) + 4 + "px";
    ifrm.style.visibility = 'visible';
}



</script>
<!-- Content Area 
https://www.dyn-web.com/tutorials/iframes/height/
-->
<div class="container">
 	<iframe id="admin_content-area" frameBorder="0" marginheight="50" class="embed-responsive-item"  width="500" onload="setIframeHeight(this.id)"></iframe> 
</div>



	
	<!-- Edit User -->
	<fieldset class="starthidden" id="editable_user_fields">
	<div class="container">
		<h5>New User Information</h5>
		<form method="post" class="form-horizontal" id="editUserForm" action="/update-user">
		<!-- First Name -->
		<div class="form-group">
			<label for="user_fname_edit" class="col-sm-2 control-label">First Name</label>
			<div class="col-sm-10">
				<input id="user_fname_edit" type="text" class="form-control input-field" name="fname" placeholder="First Name" required>
			</div>
		</div>
		<!-- Last Name -->
		<div class="form-group">
			<label for="user_lname_edit" class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-10">
				<input id="user_lname_edit" type="text" class="form-control input-field" name="lname" placeholder="Last Name" required>
			</div>
		</div>
		<!-- Email -->
		<div class="form-group">
			<label for="user_email_edit" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input id="user_email_edit" type="email" class="form-control input-field" name="email" placeholder="Email" required>
			</div>
		</div>
		<!-- Password -->
		<div class="form-group">
			<label for="user_password_edit" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input id="user_password_edit" type="password" class="form-control input-field" name="password" placeholder="Password" required>
			</div>
		</div>
		<!-- Signature -->
		<div class="form-group">
		<label for="signature_img" class="col-sm-2 control-label">Signature</label>
		<img id="signature_image">
		</div>

		<input type="button" class="col-sm-2" id="signature_edits_btn" value="Change Signature" onclick="updateSignature()">
		<input type="button" class="col-sm-2" id="delete_user_edits_btn" value="Delete User" onclick="deleteUser()"><br><br>
	  	<input type="submit" class="col-sm-2" name="Update User" value="Update User">

	  <!-- Hidden Fields -->
	  <input type="text" style="visibility:hidden" id="user_id_edit" name="id">
	  <input type="text" style="visibility:hidden" class="input-field" name="signature" id="user_signature_edit">
	</div>
	</form>
	  
  </fieldset>

  <!-- Update Signature -->
  <fieldset class="starthidden" id="editable_user_signature">
    <div class="wrapper">
      <canvas id="signature-pad2" class="signature-pad" width=400 height=200></canvas>
    </div>
    <button id="save-png">Save as PNG</button>
	<button id="clear">Clear</button>
  </fieldset>

<!-- Select Existing User -->
<div class="container">
	<fieldset class="starthidden" id="select_user">
		<h5>Select a User to Edit</h5>
          <ul style="list-style-type:none">
            <% results.forEach(function(r) { %>
              <li>
              <input type="radio" name="selected_user" value=<%= r.id %> onclick="editUser()">
              <%= r.fname %>, <%=r.lname %>
              </li>
            <% }); %>
          </ul>
	</fieldset>
</div>


	<!-- Show Available Reports -->
	<fieldset class="starthidden" id="reports_fields">
	<div class="container">
	<h5>Available Reports</h5>

	</fieldset?
	</div>


	<!-- Search For User -->
	<fieldset class="starthidden" id="search_for_user">
		<div class="form-group" id="search_controls">
			<h5>Type in name of user to search for...</h5>
			<label class="col-sm-2 control-label">Name: <input type="text" class="input-field" id="name_search" required></label >
    <input type="button" id="search_btn" value="search" onclick="searchForUser()">
    </div>
</fieldset>

</div>
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/common.js"></script>
	<script src="/js/administration.js"></script>



</body>
</html>
